h1 {
  font-size: 16px;
}

.container {
  margin: auto;
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;

  .warning {
    background: rgba(255, 0, 0, 0.25);
    border-radius: 50%;
  }

  mat-progress-spinner, .warning {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .text {
    z-index: 2;
    margin: auto;
    font-size: 32px;
  }

}
